<?= Form::open([
    'data-builder-command'=>'localization:cmdCopyMissingStrings'
]) ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">&times;</button>
    <h4 class="modal-title"><?= e(trans('rainlab.builder::lang.localization.add_missing_strings')) ?></h4>
</div>

<div class="modal-body">
    <?php if ($columns): ?>
    <div class="control-list list-unresponsive">
        <table class="table data" data-control="rowlink">
            <thead>
            <tr>
                <th class="list-checkbox">
                    <div class="checkbox custom-checkbox nolabel">
                        <input type="checkbox" id="checkboxAll" />
                        <label for="checkboxAll"></label>
                    </div>
                </th>
                <th><span>Column name</span></th>
                <th><span>Column type</span></th>
                <th><span>Form field</span></th>
                <th class="list-setup"><a href="/" title="List options"></a></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($columns as $column): ?>
                <tr>
                    <td class="list-checkbox nolink">
                        <div class="checkbox custom-checkbox nolabel">
                            <input id="checkbox_column_<?=$column['id']?>" type="checkbox" />
                            <label for="checkbox_column_<?=$column['id']?>">Check</label>
                        </div>
                    </td>
                    <td><?=$column['name']?></td>
                    <td><?=$column['type']?></td>
                    <td>dropdown</td>
                    <td>&nbsp;</td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php else: ?>
    <p><?= e(trans('rainlab.builder::lang.localization.no_languages_to_copy_from')) ?></p>
    <?php endif ?>
</div>
<div class="modal-footer">
    <?php if ($columns): ?>
    <button
            type="submit"
            class="btn btn-primary">
        <?= e(trans('rainlab.builder::lang.localization.copy')) ?>
    </button>
    <?php endif ?>
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.cancel')) ?>
    </button>
</div>
<?= Form::close() ?>